$colorblue : #1836b2;

header{
  font-family: 'steroniteregular';
  color: #504d52;
  .text-logo{
    color: $colorblue;
  }
  .link-nav{
    font-family: 'aerosregular';
    font-size: 0.8em;
    transition: all 0.5s;
    padding: 5px;
    &:hover{
      transition: all 0.5s;
      background: $colorblue;
      color: white;
      border-radius: 5px;
      padding: 5px;
    }
  }
}

footer{
  h6{
    font-family: 'aerosregular';
    font-size: 1.5em;
  }
  .copyright{
    font-family: 'steroniteregular';
    font-size: 1.2em;
  }
}

@media screen and (max-width: 900px) {
  .content-navlink{
    font-size: 0.6em;
  }
  .viewport-section{
    header .text-logo{
      font-size: 0.8em;
    }
    .logo{
      height: 50px;
    }
    .title{
      font-size: 2.5em;
    }
    .content-viewport{
      margin-top: 50px;
    }
  }
}

@media screen and (max-width: 768px) {
  .viewport-section{
    header .text-logo{
      font-size: 0.8em;
    }
    .logo{
      height: 50px;
    }
    .title{
      font-size: 2.5em;
    }
    .content-viewport{
      margin-top: 100px;
    }
  }
}

