$colorblue : #1836b2;

//VIEWPORT
.viewport-section{
  overflow: hidden;
  position: relative;
  background: #C9D6FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  z-index: 1;
  .text-background{
    position: absolute;
    font-size: calc(6vw + 6vh + 2vmin);
    font-family: 'steroniteregular';
    color: #042aff10;
    white-space: nowrap;
    z-index: -1;
  }
  .top-text-background{
    top: 70%;
    right: 2%;
  }
  .bottom-text-background{
    top: -5%;
    left: 0%;
    color: #ffffff34;
  }
  header{
    font-family: 'steroniteregular';
    color: #504d52;
    .text-logo{
      color: $colorblue;
    }
    .link-nav{
      font-family: 'aerosregular';
      font-size: 0.8em;
      transition: all 0.5s;
      padding: 5px;
      &:hover{
        transition: all 0.5s;
        background: $colorblue;
        color: white;
        border-radius: 5px;
        padding: 5px;
      }
    }
  }
  .title{
    color: #504d52;
    font-size: 4em;
    font-family: 'steroniteregular';
    span{
      color: $colorblue;
    }
  }
  .sub-title{
    color: #504d52;
    font-family: 'aerosregular';
    font-size: calc(0.5vw + 0.5vh + 1vmin);
  }
  .btn-contact{
    background: $colorblue;
    padding: 15px;
    font-family: 'aerosregular';
    color: white;
    border: 2px solid white;
    svg{
      height: 30px;
      width: 30px;
    } 
  }
}
main{
  background: #f5f5f5;
}
.description{
    .background-circle{
      height: 50px;
      width: 50px;
      background: #CACACA;
      border-radius: 50%;
      color: $colorblue;
      font-size: calc(0.8vw + 0.8vh + 1vmin);
      font-weight: 800;
    }
    h3{
      margin-top: 10px;
      font-family: 'aerosregular';
    }
}

.accompanied{
  background: rgb(255, 255, 255);
  h4{
    opacity: 0;
  }
  h5{
    font-family: 'aerosregular';
  }
  .bulle{
    p{
      margin-top: 10px;
      font-family: 'steroniteregular';
      font-size: calc(0.5vw + 0.5vh + 1vmin);
    }
    .img-bulle{
      height: 100px;
      width: 100px;
      border-radius: 50%;
      border: 2px solid #a066cb;
      transition: all 0.5s;
      &:hover{
        transition: all 0.5s;
        border: 4px solid #a066cb;
        scale: 1.1;
      }
    }
    .zoom{
      border: 4px solid #a066cb;
      scale: 1.1;
    }
    .bg-arrow{
      margin-left: 10px;
      background-image: url("/img/arrow.png");
      background-size: contain;
      background-repeat: no-repeat;
      margin-bottom: 25px;
      height: 50px;
      width: 100px;
      transform: rotate(-10deg);
    }
    .container-img-2{
      margin-left: 25%;
    }
    .arrow-2{
      background-image: url("/img/arrow2.png");
      transform: rotate(200deg);
    }
    .container-img-3{
      margin-left: 15%;
    }
  }
}
.subhead{
  font-size: calc(2vw + 2vh + 2vmin);
  font-family: 'steroniteregular';
}
.making{
  height: 100vh;
  .splide__slide{
    img{
      min-height: 100%;
      border: 2px solid $colorblue;
    }
  }
  .subtitle-making{
    font-family: 'aerosregular';
  }
}

form{
  background: white;
  .form-container{
    background: #f5f5f5;
  }
  img{
    &:hover{
      animation: shake 2s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
    }
  }
  h6{
    font-family: 'aerosregular';
    text-align: center;
    padding-bottom: 20px;
    font-size: calc(1vw + 1vh + 1vmin);
  }
  .btn-form{
    background: #1836B2;
  }
}

.faq{
  background: white;
  .card{
    min-height: 220px;
  }
  .card-title{
    font-family: 'aerosregular';
  }
  .bg-blue{
    background: $colorblue;
    color: white;
  }
  .bg-grey{
    background: #f5f5f5;
    border: 1px solid $colorblue;
  }
  .card-text{
    font-size: calc(0.6vw + 0.6vh + 0.6vmin);
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .bi-patch-question-fill{
    color: white;
  }
  .color-blue{
    color: $colorblue;
    
  }
  .bi-patch-question-fill{
    transition: 0.3s;
    &:hover{
      transform: rotate(15deg);
    }
  }
}

.contact{
  background: white;
  .bg-desktop{
    background-image: url('/img/desktop1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .title-contact{
    font-weight: bolder;
    font-family: 'aerosregular';
  }
  .btn-contact{
    background: white;
    padding: 10px;
    font-family: 'aerosregular';
    border-radius: 5px;
    text-decoration: none;
    &:hover{
      transform: scale('1.2');
    }
    
  }
}

footer{
  h6{
    font-family: 'aerosregular';
    font-size: 1.5em;
  }
  .copyright{
    font-family: 'steroniteregular';
    /* color: $colorblue; */
    font-size: 1.2em;
  }
}

.tchat{
  z-index: 10;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  bottom: 30px;
  right: 30px;
  width: 25vw;
  height: 500px;
  background: white;
  box-shadow: 2px 2px 27px 0px rgba(0,0,0,0.45);
  -webkit-box-shadow: 2px 2px 27px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 2px 2px 27px 0px rgba(0,0,0,0.45);
  .header-tchat{
    color: white;
    padding: 15px;
    .img-content{
      background: white;
      border-radius: 50%;
    }
    p{
      font-family: 'aerosregular';
    }
    svg{
      &:hover{
        cursor: pointer;
        color: white !important;
      }
    }
  }
  .tchat-content{
    flex-grow: 1;
  }
  .my-text{
    max-width: 70%;
    background: #f5f5f5;
    margin-left: 15px;
    padding: 10px;
    border-radius: 10px;
  }
  .response-auto{
    text-align: end;
    max-width: 70%;
    background: $colorblue;
    padding: 10px;
    border-radius: 10px;
    margin-right: 15px;
    &:hover{
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.icone-message{
  //z-index: 10;
  position: fixed;
  bottom: 50px;
  right: 20px;
  color: $colorblue;
  &:hover{
    cursor: pointer;
  }
}

.none{
  display: none;
}

//ANIMATION
.send {
  animation: send 3s cubic-bezier(1, -0.47, 0.01, 1.37) infinite both;
}
@keyframes send {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(-20px) translateX(20px);
  }
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.tracking-in-contract {
	-webkit-animation: tracking-in-contract 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.kenburns-top {
	-webkit-animation: kenburns-top 5s ease-out both;
	        animation: kenburns-top 5s ease-out both;
}

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

.bounce-out-top {
	-webkit-animation: bounce-out-top 2s both;
	        animation: bounce-out-top 2s both;
}


 @-webkit-keyframes bounce-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  5% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  15% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  25% {
    -webkit-transform: translateY(-38px);
            transform: translateY(-38px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  52% {
    -webkit-transform: translateY(-75px);
            transform: translateY(-75px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  70% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-800px);
            transform: translateY(-800px);
    opacity: 0;
  }
}
@keyframes bounce-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  5% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  15% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  25% {
    -webkit-transform: translateY(-38px);
            transform: translateY(-38px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  52% {
    -webkit-transform: translateY(-75px);
            transform: translateY(-75px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  70% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-800px);
            transform: translateY(-800px);
    opacity: 0;
  }
}

.scale-out-ver-bottom {
	-webkit-animation: scale-out-ver-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-ver-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes scale-out-ver-bottom {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
}
@keyframes scale-out-ver-bottom {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
}

.scale-in-ver-bottom {
	-webkit-animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.text-us-choice{
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  strong{
    color: $colorblue;
  }
}
.img-invoice{
  transition: 0.3s;
  &:hover{
    transition: 0.3s;
    transform: rotate(-10deg);
  }
}

@media screen and (max-width: 1200px) {
  .content-navlink{
    font-size: 0.8em;
  }
  .viewport-section{
    .title{
      font-size: 3em;
    }
    .btn-contact{
      font-size: 0.7em;
      svg{
        height: 20px;
        width: 20px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .content-navlink{
    font-size: 0.6em;
  }
  .viewport-section{
    header .text-logo{
      font-size: 0.8em;
    }
    .logo{
      height: 50px;
    }
    .title{
      font-size: 2.5em;
    }
    .content-viewport{
      margin-top: 50px;
    }
  }
}

@media screen and (max-width: 768px) {
  .content-navlink{
    font-size: 0.6em;
  }
  .viewport-section{
    header .text-logo{
      font-size: 0.8em;
    }
    .logo{
      height: 50px;
    }
    .title{
      font-size: 2.5em;
    }
    .content-viewport{
      margin-top: 100px;
    }
  }
}