.viewport-section {
  overflow: hidden;
  position: relative;
  background: #C9D6FF;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#E2E2E2), to(#C9D6FF));
  background: linear-gradient(to right, #E2E2E2, #C9D6FF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  z-index: 1;
}

.viewport-section .text-background {
  position: absolute;
  font-size: calc(6vw + 6vh + 2vmin);
  font-family: 'steroniteregular';
  color: #042aff10;
  white-space: nowrap;
  z-index: -1;
}

.viewport-section .top-text-background {
  top: 70%;
  right: 2%;
}

.viewport-section .bottom-text-background {
  top: -5%;
  left: 0%;
  color: #ffffff34;
}

.viewport-section header {
  font-family: 'steroniteregular';
  color: #504d52;
}

.viewport-section header .text-logo {
  color: #1836b2;
}

.viewport-section header .link-nav {
  font-family: 'aerosregular';
  font-size: 0.8em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 5px;
}

.viewport-section header .link-nav:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: #1836b2;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.viewport-section .title {
  color: #504d52;
  font-size: calc(2.5vw + 2.5vh + 2vmin);
  font-family: 'steroniteregular';
}

.viewport-section .title span {
  color: #1836b2;
}

.viewport-section .sub-title {
  color: #504d52;
  font-family: 'aerosregular';
  font-size: calc(0.5vw + 0.5vh + 1vmin);
}

.viewport-section .btn-contact {
  background: #1836b2;
  padding: 15px;
  font-family: 'aerosregular';
  color: white;
  border: 2px solid white;
}

main {
  background: #f5f5f5;
}

.description {
  height: 100vh;
}

.description .background-circle {
  height: 50px;
  width: 50px;
  background: #CACACA;
  border-radius: 50%;
  color: #1836b2;
  font-size: calc(0.8vw + 0.8vh + 1vmin);
  font-weight: 800;
}

.description h3 {
  margin-top: 10px;
  font-family: 'aerosregular';
}

.accompanied {
  background: white;
  height: 100vh;
}

.accompanied h4 {
  opacity: 0;
}

.accompanied h5 {
  font-family: 'aerosregular';
}

.accompanied .bulle p {
  margin-top: 10px;
  font-family: 'steroniteregular';
  font-size: calc(0.5vw + 0.5vh + 1vmin);
}

.accompanied .bulle .img-bulle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid #a066cb;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.accompanied .bulle .img-bulle:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 4px solid #a066cb;
  scale: 1.1;
}

.accompanied .bulle .zoom {
  border: 4px solid #a066cb;
  scale: 1.1;
}

.accompanied .bulle .bg-arrow {
  margin-left: 10px;
  background-image: url("/img/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 25px;
  height: 50px;
  width: 100px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.accompanied .bulle .container-img-2 {
  margin-left: 25%;
}

.accompanied .bulle .arrow-2 {
  background-image: url("/img/arrow2.png");
  -webkit-transform: rotate(200deg);
          transform: rotate(200deg);
}

.accompanied .bulle .container-img-3 {
  margin-left: 15%;
}

.subhead {
  font-size: calc(2vw + 2vh + 2vmin);
  font-family: 'steroniteregular';
}

.making {
  height: 100vh;
}

.making .splide__slide img {
  min-height: 100%;
  border: 2px solid #1836b2;
}

.making .subtitle-making {
  font-family: 'aerosregular';
}

form {
  background: white;
}

form .form-container {
  background: #f5f5f5;
}

form h6 {
  font-family: 'aerosregular';
  text-align: center;
  padding-bottom: 20px;
  font-size: calc(1vw + 1vh + 1vmin);
}

form .btn-form {
  background: #1836B2;
}

.faq {
  background: white;
}

.faq .card {
  min-height: 220px;
}

.faq .card-title {
  font-family: 'aerosregular';
}

.faq .bg-blue {
  background: #1836b2;
  color: white;
}

.faq .bg-grey {
  background: #f5f5f5;
  border: 1px solid #1836b2;
}

.faq .card-text {
  font-size: calc(0.6vw + 0.6vh + 0.6vmin);
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.faq .bi-patch-question-fill {
  color: white;
}

.faq .color-blue {
  color: #1836b2;
}

.faq .bi-patch-question-fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.faq .bi-patch-question-fill:hover {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.contact {
  background: white;
}

.contact .bg-desktop {
  background-image: url("/img/desktop1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact .title-contact {
  font-weight: bolder;
  font-family: 'aerosregular';
}

.contact .btn-contact {
  background: white;
  padding: 10px;
  font-family: 'aerosregular';
  border-radius: 5px;
  text-decoration: none;
}

.contact .btn-contact:hover {
  -webkit-transform: scale("1.2");
          transform: scale("1.2");
}

footer h6 {
  font-family: 'aerosregular';
  font-size: 1.5em;
}

footer .copyright {
  font-family: 'steroniteregular';
  color: #a066cb;
  font-size: 1.2em;
}

.tchat {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  bottom: 30px;
  right: 30px;
  width: 25vw;
  height: 600px;
  background: white;
  box-shadow: 2px 2px 27px 0px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 2px 2px 27px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 2px 2px 27px 0px rgba(0, 0, 0, 0.45);
}

.tchat .header-tchat {
  color: white;
  padding: 15px;
}

.tchat .header-tchat .img-content {
  background: white;
  border-radius: 50%;
}

.tchat .header-tchat p {
  font-family: 'aerosregular';
}

.tchat .header-tchat svg:hover {
  cursor: pointer;
  color: white !important;
}

.tchat .tchat-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.tchat .my-text {
  max-width: 70%;
  background: #f5f5f5;
  margin-left: 15px;
  padding: 10px;
  border-radius: 10px;
}

.tchat .response-auto {
  text-align: end;
  max-width: 70%;
  background: #1836b2;
  padding: 10px;
  border-radius: 10px;
  margin-right: 15px;
}

.tchat .response-auto:hover {
  cursor: pointer;
  opacity: 0.8;
}

.send {
  -webkit-animation: send 3s cubic-bezier(1, -0.47, 0.01, 1.37) infinite both;
          animation: send 3s cubic-bezier(1, -0.47, 0.01, 1.37) infinite both;
}

@-webkit-keyframes send {
  0% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateY(-20px) translateX(20px);
            transform: translateY(-20px) translateX(20px);
  }
}

@keyframes send {
  0% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateY(-20px) translateX(20px);
            transform: translateY(-20px) translateX(20px);
  }
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.tracking-in-contract {
  -webkit-animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.kenburns-top {
  -webkit-animation: kenburns-top 5s ease-out both;
  animation: kenburns-top 5s ease-out both;
}

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

.bounce-out-top {
  -webkit-animation: bounce-out-top 2s both;
  animation: bounce-out-top 2s both;
}

@-webkit-keyframes bounce-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  5% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  15% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  25% {
    -webkit-transform: translateY(-38px);
    transform: translateY(-38px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  52% {
    -webkit-transform: translateY(-75px);
    transform: translateY(-75px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  70% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-800px);
    transform: translateY(-800px);
    opacity: 0;
  }
}

@keyframes bounce-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  5% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  15% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  25% {
    -webkit-transform: translateY(-38px);
    transform: translateY(-38px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  52% {
    -webkit-transform: translateY(-75px);
    transform: translateY(-75px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  70% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-800px);
    transform: translateY(-800px);
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */